---
import Layout from '@/layouts/Layout.astro'
import Modelo3dCanvas from '@/components/3d/Model3d'

import imgPorject1 from '@/assets/img/projects/GitHub-ch3ber-e-commerce-api-E-commerce-CRUD-with-postgresql-and-express-js.png'
import imgPorject2 from '@/assets/img/projects/Petgram-Tu-app-de-fotos-de-mascotas.png'
import imgPorject3 from '@/assets/img/projects/avocado-store-vercel-app.png'
import imgPorject4 from '@/assets/img/projects/Frontend-Mentor-Time-tracking-dashboard.png'
import imgPorject5 from '@/assets/img/projects/todo-webapp.png'
import imgPorject6 from '@/assets/img/projects/Rick-And-Morty-App.png'
import imgPorject7 from '@/assets/img/projects/Devstore.png'
---

<Layout>
  <header
    id="nav"
    class="lg:hidden z-[999999] backdrop-blur-xs sticky top-0 left-0 right-0"
  >
    <div
      class="flex justify-between items-center max-w-3xl mx-auto text-center py-4 px-10"
    >
      <a class="font-bold text-2xl" href="/">Eber Alejo</a>

      <nav
        id="navModal"
        class="z-10 fixed inset-0 flex flex-col gap-10 justify-center items-center bg-bg-100 overflow-hidden transition-all duration-500 h-0"
      >
        <ul class="flex flex-col items-center justify-evenly gap-10">
          <li class="title-2 transition hover:-translate-y-3">
            <a data-showNav="false" href="#about">About</a>
          </li>
          <li class="title-2 transition hover:-translate-y-3">
            <a data-showNav="false" class="title-2" href="#proyectos"
              >Proyectos</a
            >
          </li>
          <li class="title-2 transition hover:-translate-y-3">
            <a data-showNav="false" class="title-2" href="#contacto">Contacto</a
            >
          </li>
        </ul>
        <span
          data-showNav="false"
          class="text-4xl transition hover:-translate-y-3"
        >
          <i class="fa-solid fa-xmark"></i>
        </span>
      </nav>

      <span
        data-showNav="true"
        class="self-end text-4xl hover:opacity-80 transition-opacity"
      >
        <i class="fa-solid fa-bars"></i>
      </span>
    </div>
  </header>

  <header class="hidden lg:flex justify-between items-center max-w-5xl mx-auto">
    <a class="font-bold text-2xl" href="/">Eber Alejo</a>
    <nav class="p-5">
      <ul class="flex items-center justify-evenly gap-10">
        <li class="font-bold">
          <a class="text-xl hover:text-accents transition" href="#about"
            >About</a
          >
        </li>
        <li class="font-bold">
          <a class="text-xl hover:text-accents transition" href="#proyectos"
            >Proyectos</a
          >
        </li>
        <li class="font-bold">
          <a class="text-xl hover:text-accents transition" href="#contacto"
            >Contacto</a
          >
        </li>
      </ul>
    </nav>
  </header>

  <!-- about -->
  <section
    id="about"
    class="flex flex-col lg:flex-row justify-between items-center gap-10 max-w-7xl text-center mx-auto my-10 px-4"
  >
    <div
      class="flex justify-center items-center mx-auto w-[280px] h-[280px] lg:w-[640px] lg:h-[640px]"
    >
      <Modelo3dCanvas client:visible />
    </div>
    <div class="px-5">
      <h1
        class="prose-headings:h-1 text-primary-200 flex flex-col text-5xl font-bold gap-5"
      >
        Eber Alejo
      </h1>
      <h2 class="prose-headings:h-2 text-primary-300">
        Desarrollador Web & Creador de Contenido
      </h2>
      <p class="mt-5 mx-auto prose text-txt-100">
        Ingeniero en Tecnologías Computacionales orientado a resultados y
        divulgador de conocimiento. Diseño experiencias web de alto rendimiento,
        optimizo procesos mediante automatización y comparto buenas prácticas a
        la comunidad a través de proyectos de código abierto y contenidos
        educativos. Mi trayectoria abarca desde la creación de interfaces
        intuitivas hasta la construcción de arquitecturas escalables, siempre
        guiado por la calidad, la eficiencia y el aprendizaje continuo.
        Reconocido en hackathones nacionales y líder de iniciativas formativas,
        aporto visión estratégica y capacidad de ejecución a equipos que buscan
        transformar ideas en soluciones de impacto.
      </p>
    </div>
  </section>

  <main class="w-11/12 max-w-6xl mx-auto mt-16 md:p-20 md:w-full">
    <!-- portfolio -->
    <section id="proyectos">
      <h2 class="title-2">Proyectos</h2>
      <div
        class="mt-10 grid place-content-center place-items-center grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-14"
      >
        <article
          class="project-card col-start-1 md:col-end-3 xl:col-end-4 md:max-w-xl"
        >
          <figure class="overflow-hidden">
            <img
              loading="lazy"
              src={imgPorject1.src}
              width={imgPorject1.width}
              height={imgPorject1.height}
              alt="Previsualización del respositorio en GitHub"
              draggable="false"
              class="zoom-image-effect"
            />
          </figure>
          <div class="project-card__body">
            <h3 class="title-3">E-Commerce API</h3>
            <p class="md:h-32 h-52">
              Autenticación y autorización de usuarios. TypeScript, Express.js,
              Sequelize como ORM de PostgreSQL. Recuperación de contraseñas a
              través de correo electrónico. Unit testing, integration testing y
              testing E2E utilizando Jest.js y supertest. Continuous Integration
              (CI) con GitHub Actions.
            </p>
            <div class="project-card__buttons">
              <div class="btn-ghost active:animate__jello">
                <a
                  class="px-4 py-2 rounded-sm"
                  href="https://github.com/ch3ber/e-commerce-api"
                  target="_blank"
                  rel="noreferrer"
                >
                  Ver código
                </a>
              </div>
              <a
                class="border-none btn-fill"
                href="https://e-commerce-api-1r2n.onrender.com"
                target="_blank"
                rel="noreferrer"
              >
                Visitar
              </a>
            </div>
          </div>
        </article>

        <article class="project-card">
          <figure class="overflow-hidden">
            <img
              loading="lazy"
              src={imgPorject2.src}
              width={imgPorject2.width}
              height={imgPorject2.height}
              alt="Previsualización de la pagina web"
              draggable="false"
              class="zoom-image-effect"
            />
          </figure>
          <div class="project-card__body">
            <h3 class="title-3">Petgram</h3>
            <p class="h-32">
              Clon de Instagram funcional usando React.js y grahpql, login
              funcional, así como persistencia de datos. UI diferente a la de
              Instagram.
            </p>
            <div class="project-card__buttons">
              <div class="btn-ghost">
                <a
                  class="px-4 py-2 rounded-sm"
                  href="https://github.com/ch3ber/petgram"
                  target="_blank"
                  rel="noreferrer"
                >
                  Ver código
                </a>
              </div>
              <a
                class="border-none btn-fill"
                href="https://petgram-ch3ber.vercel.app/"
                target="_blank"
                rel="noreferrer"
              >
                Visitar
              </a>
            </div>
          </div>
        </article>

        <article class="project-card">
          <figure class="overflow-hidden">
            <img
              loading="lazy"
              src={imgPorject3.src}
              width={imgPorject3.width}
              height={imgPorject3.height}
              alt="Previsualización de la pagina web"
              draggable="false"
              class="zoom-image-effect"
            />
          </figure>
          <div class="project-card__body">
            <h3 class="title-3">Avocado Store</h3>
            <p class="h-32">
              Creada con Next.js, TypeScript y Chakra UI, una tienda en la que
              podrás comprar todo tipo de aguacates. Agrega productos en tiempo
              real y encuentra el easter egg de la pagina.
            </p>
            <div class="project-card__buttons">
              <div class="btn-ghost">
                <a
                  class="px-4 py-2 rounded-sm"
                  href="https://github.com/ch3ber/avocado-store"
                  target="_blank"
                  rel="noreferrer"
                >
                  Ver código
                </a>
              </div>
              <a
                class="border-none btn-fill"
                href="https://ch3ber-avocado-store.vercel.app/"
                target="_blank"
                rel="noreferrer"
              >
                Visitar
              </a>
            </div>
          </div>
        </article>

        <article class="project-card">
          <figure class="overflow-hidden">
            <img
              loading="lazy"
              src={imgPorject4.src}
              width={imgPorject4.width}
              height={imgPorject4.height}
              alt="Previsualización de la pagina web"
              draggable="false"
              class="zoom-image-effect"
            />
          </figure>
          <div class="project-card__body">
            <h3 class="title-3">Time tracking dashboard</h3>
            <p class="h-32">
              Un reto de
              <a
                class="underline transition-opacity hover:opacity-80"
                href="https://www.frontendmentor.io/"
                target="_blank"
                rel="noreferrer">Frontend Mentor</a
              >
              completado, tablero con información dinámica usando JavaScript, CSS
              para los estilos y un JSON como Data Base
            </p>
            <div class="project-card__buttons">
              <div class="btn-ghost">
                <a
                  class="px-4 py-2 rounded-sm"
                  href="https://github.com/ch3ber/time-tracking-dashboard"
                  target="_blank"
                  rel="noreferrer"
                >
                  Ver código
                </a>
              </div>
              <a
                class="border-none btn-fill"
                href="https://ch3ber-time-tracking-dashboard.netlify.app/"
                target="_blank"
                rel="noreferrer"
              >
                Visitar
              </a>
            </div>
          </div>
        </article>

        <article class="project-card">
          <figure class="overflow-hidden">
            <img
              loading="lazy"
              src={imgPorject5.src}
              width={imgPorject5.width}
              height={imgPorject5.height}
              alt="Previsualización de la pagina web"
              draggable="false"
              class="zoom-image-effect"
            />
          </figure>
          <div class="project-card__body">
            <h3 class="title-3">ToDo Webapp</h3>
            <p class="h-32">
              Crea, guarda, completa y elimina ToDoes con esta página creada con
              React.js y CSS, uso de local storage para la persistencia de datos
            </p>
            <div class="project-card__buttons">
              <div class="btn-ghost">
                <a
                  class="px-4 py-2 rounded-sm"
                  href="https://github.com/ch3ber/todo-webapp"
                  target="_blank"
                  rel="noreferrer"
                >
                  Ver código
                </a>
              </div>
              <a
                class="border-none btn-fill"
                href="/todo-webapp"
                target="_blank"
              >
                Visitar
              </a>
            </div>
          </div>
        </article>

        <article class="project-card">
          <figure class="overflow-hidden">
            <img
              loading="lazy"
              src={imgPorject6.src}
              width={imgPorject6.width}
              height={imgPorject6.height}
              alt="Previsualización de la pagina web"
              draggable="false"
              class="zoom-image-effect"
            />
          </figure>
          <div class="project-card__body">
            <h3 class="title-3">Rick And Morty Webapp</h3>
            <p class="h-32">
              Encuentra a cualquier personaje de la serie de Rick And Morty con
              esta web app creada en React.js y SASS usando la
              <a
                class="underline transition-opacity hover:opacity-80"
                href="https://rickandmortyapi.com/"
                target="_blank"
                rel="noreferrer">API de Rick And Morty</a
              >
            </p>
            <div class="project-card__buttons">
              <div class="btn-ghost">
                <a
                  class="px-4 py-2 rounded-sm"
                  href="https://github.com/ch3ber/RickAndMorty-webapp"
                  target="_blank"
                  rel="noreferrer"
                >
                  Ver código
                </a>
              </div>
              <a
                class="border-none btn-fill"
                href="https://ch3ber-rickandmortyapp.netlify.app"
                target="_blank"
                rel="noreferrer"
              >
                Visitar
              </a>
            </div>
          </div>
        </article>

        <article class="project-card">
          <figure class="overflow-hidden">
            <img
              loading="lazy"
              src={imgPorject7.src}
              width={imgPorject7.width}
              height={imgPorject7.height}
              alt="Previsualización de la pagina web"
              draggable="false"
              class="zoom-image-effect"
            />
          </figure>
          <div class="project-card__body">
            <h3 class="title-3">Devstore</h3>
            <p class="h-32">
              Encuentra los mejores productos para developers. Router,
              componentes, manejo de local storage y ¡más! Solo usando
              TypeScript y Tailwindcss
            </p>
            <div class="project-card__buttons">
              <div class="btn-ghost">
                <a
                  class="px-4 py-2 rounded-sm"
                  href="https://github.com/ch3ber/devstore"
                  target="_blank"
                  rel="noreferrer"
                >
                  Ver código
                </a>
              </div>
              <a
                class="border-none btn-fill"
                href="https://ch3ber-devstore.netlify.app/"
                target="_blank"
                rel="noreferrer"
              >
                Visitar
              </a>
            </div>
          </div>
        </article>
      </div>
    </section>
  </main>

  <footer class="mt-10 bg-bg-200 p-12" id="contacto">
    <div
      class="flex flex-col justify-between max-w-2xl mx-auto md:flex-row gap-10"
    >
      <section>
        <h3 class="font-bold title-3 text-primary-200">Desarrollador</h3>
        <p>
          Hecho por <strong>Eber Alejo</strong>
        </p>
      </section>

      <section>
        <h3 class="font-bold title-3 text-primary-200">Contacto</h3>
        <ul class="grid grid-cols-2 md:grid-cols-4 md:gap-1 gap-3">
          <li>
            <a href="mailto:eber4202@hotmail.com">
              <i class="fa-solid fa-envelope"></i>
              E-Mail
            </a>
          </li>
          <li>
            <a
              rel="noreferrer"
              href="https://github.com/ch3ber"
              target="_blank"
            >
              <i class="fa-brands fa-github"></i>
              GitHub
            </a>
          </li>
          <li>
            <a
              rel="noreferrer"
              href="https://twitter.com/ch3ber_dev"
              target="_blank"
            >
              <i class="fa-brands fa-twitter"></i>
              Twitter
            </a>
          </li>
          <li>
            <a
              rel="noreferrer"
              href="https://www.linkedin.com/in/eberalejo"
              target="_blank"
            >
              <i class="fa-brands fa-linkedin"></i>
              LinkedIn
            </a>
          </li>
        </ul>
      </section>
    </div>
  </footer>
</Layout>

<script defer>
  const toggleNav = () => {
    const navModal = document.getElementById('navModal')
    const body = document.querySelector('body')
    const isOpen = navModal.classList.contains('h-screen')

    if (isOpen) {
      body.classList.remove('overflow-hidden')
      navModal.classList.remove('h-screen')
      navModal.classList.add('h-0')
    }

    if (!isOpen) {
      body.classList.add('overflow-hidden')
      navModal.classList.remove('h-0')
      navModal.classList.add('h-screen')
    }
  }

  document.addEventListener('DOMContentLoaded', () => {
    document
      .querySelectorAll('[data-showNav]')
      .forEach((el) => el.addEventListener('click', toggleNav))
  })
</script>
